<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="configFragment">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
  <meta name="description" content="노동경의 백 엔드 개발 이력서">
  <meta name="keywords" content="노동경,이력서,백엔드,개발,resume,backend,development,web">

  <title>이력서: 노 동 경 [백 엔드 개발자]</title>

  <!-- Favicons -->
  <link rel="icon" th:href="@{/assets/img/favicons/favicon.png}">
  <link rel="apple-touch-icon" th:href="@{/assets/img/favicons/apple-touch-icon.png}">

  <!-- Google Fonts -->
  <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}">  <!-- Template Fonts -->
  <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
  <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
  <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap}">

  <!-- =======================================================
  * Template Name: Kelly - v4.7.0
  * Template URL: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</div>
</html>