<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="styleFragment">
  <!-- Vendor CSS Files -->
  <link rel="stylesheet" th:href="@{/assets/vendor/aos/aos.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}">
  <link rel="stylesheet" th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}">

  <!-- Add fancyBox main CSS files -->
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/assets/vendor/fancyBox-master/source/jquery.fancybox.css?v=2.1.5}"/>

  <!-- Template Main CSS File -->
  <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</div>
</html>