<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="style">
  <!-- e.g. <link rel="stylesheet" th:href="@{/css/page/home.css}" > -->
</th:block>

<!-- Content -->
<div layout:fragment="main">
  <main id="main">
    <th:block th:replace="content/main_content/profile :: profileFragment"></th:block>
    <th:block th:replace="content/main_content/skill :: skillFragment"></th:block>
    <th:block th:replace="content/main_content/work :: workFragment"></th:block>
    <th:block th:replace="content/main_content/project :: projectFragment"></th:block>
    <th:block th:replace="content/main_content/education :: educationFragment"></th:block>
    <th:block th:replace="content/main_content/certificate :: certificateFragment"></th:block>
    <th:block th:replace="content/main_content/contact :: contactFragment"></th:block>
  </main>
</div>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!-- e.g. <script th:src="@{/js/page/home.js}"></script> -->

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>
  <script th:src="@{/assets/js/work.js}"></script>
</th:block>
</html>